<!doctype html>
<html lang="zxx">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bookmarks Vue</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
</head>
<body>
	<div id="bookmarks" class="container vh-100 d-flex flex-column">
		<div class="py-4 row flex-shrink-0">
			<h2 class="h3 font-weight-light mb-0 pt-3 col-sm-4 col-md-7">Bookmarks</h2>
			<form @submit.prevent="search" class="col pt-3 input-group">
				<select v-model="tag" class="form-control">
					<option value="">All</option>
					<option v-text="tag" v-for="(tag, index) in tags" :key="index" :value="tag"></option>
				</select>
				<input v-model="query" type="search" class="form-control" placeholder="Search">
				<select v-model="site" @change="search" class="form-control">
					<option value="">Google</option>
					<option v-for="site in sites" v-text="site.name" :key="site.id" :value="site.url"></option>
				</select>
			</form>
		</div>
		<div class="section-content pb-4 row flex-nowrap overflow-auto">
			<div class="nav flex-column col-10 col-md-7 px-0">
				<a v-for="bookmark in filtered" v-text="bookmark.name" :key="bookmark.id" :href="bookmark.url"
					class="nav-link w-100 text-truncate" rel="external"></a>
			</div>
		</div>
	</div>
	<script type="module">
		import { createApp } from 'https://unpkg.com/vue@3.2.37/dist/vue.esm-browser.prod.js';
		createApp({
			data() {
				return {
					defaults: {
						'path': './Bookmarks',
						'data': {
							'main': 'roots.other',
							'search': 'Search',
							'children': 'children',
							'name': 'name',
							'url': 'url',
							'sort': 'date_added'
						},
						'site': 'https://google.com/search?q='
					},
					bookmarks: [],
					tags: [],
					sites: [],
					query: '',
					tag: '',
					site: ''
				}
			},
			computed: {
				filtered() {
					let filtered = this.bookmarks;
					if(this.tag) filtered = filtered.filter(bookmark => bookmark.tag === this.tag);
					if(this.query) this.query.toLowerCase().split(/\s|\+/g).forEach(
						word => filtered = filtered.filter(bookmark => bookmark.name.toLowerCase().indexOf(word) !== -1)
					);
					return filtered;
				}
			},
			methods: {
				search() {
					if(this.query) window.open(encodeURI((this.site || this.defaults.site) + this.query));
				},
				jsonFlat(src, trg, keys, children, name) {
					let node = {};
					while(src.length !== 0) {
						node = src.shift();
						if(children in node) {
							for(var j = 0, jj = node[children].length; j < jj; j++) {
								node[children][j].tag = node[name];
								src.push(node[children][j]);
							}
							keys.push(node[name]);
						}
						else trg.push(node);
					}
				},
				jsonPath(data, path) {
					for(let i = 0, ii = path.length; i < ii; i++) data = data[path[i]];
					return data;
				},
				initData(data, options) {
					let mainData = this.jsonPath(data, options.main.split('.'))[options.children];
					const searchIndex = options.search ? mainData.findIndex(item => item[options.name] === options.search) : -1;
					if(searchIndex !== -1) this.sites = mainData.splice(searchIndex, 1)[0][options.children];
					this.jsonFlat(mainData, this.bookmarks, this.tags, options.children, options.name);
					if(options.sort) this.bookmarks.sort(function(a, b) {
						return a[options.sort] < b[options.sort] ? 1 : -1;
					});
				}
			},
			created() {
				fetch(this.defaults.path).then((response) => {
					return response.json();
				}).then((body) => {
					this.initData(body, this.defaults.data);
				});
			}
		}).mount('#bookmarks');
	</script>
</body>
</html>